@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = null;
}

@* the fun starts here *@
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@Model.Value("tituloDePagina")</title>

    <!-- Bootstrap core CSS -->
    <link href="~/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/css/modern-business.css" rel="stylesheet">

<script src="~/scripts/jquery/jquery.min.js"></script>
<script src="~/scripts/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</head>

<body>

@Html.Partial("Header")
@RenderBody()
@Html.Partial("Footer")


