@inherits Umbraco.Web.Mvc.UmbracoViewPage

@{  
var home = Umbraco.Content(Guid.Parse("bbd086cc-b2b6-43e4-96e9-d13b2ddfe76f"));
var logoH = home.Value<IPublishedContent>("logoHeader");
}
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <!--        <a class="navbar-brand" href="#">Gruma</a>-->
      
                <img src="@logoH.Url" style="width: 3%;">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="about.html">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="services.html">Somos Gruma</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contact.html">Nuestras Marcas</a>
                            </li>                             
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    Sala de Prensa
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                                    <a class="dropdown-item" href="portfolio-1-col.html">Noticias y Comunicados</a>
                                    <a class="dropdown-item" href="portfolio-2-col.html">Kit de Prensa</a>
                                    <a class="dropdown-item" href="portfolio-3-col.html">Acreditaciones</a>
                                    <a class="dropdown-item" href="portfolio-4-col.html">Multimedia</a>
                                    <a class="dropdown-item" href="portfolio-item.html">Gruma del Día</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    Inversionistas
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                                    <a class="dropdown-item" href="blog-home-1.html">GRUMA</a>
                                    <a class="dropdown-item" href="blog-home-2.html">GIMSA</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    Responsabilidad Social
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                                    <a class="dropdown-item" href="full-width.html">Responsabilidad Gruma</a>
                                    <a class="dropdown-item" href="sidebar.html">Fundación Gruma</a>
                                    <a class="dropdown-item" href="faq.html">Patronato de Cerrato</a>
                                    <a class="dropdown-item" href="pricing.html">Otros</a>
                                </div>
                            </li>
                            <form class="form-inline">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            </form>
                        </ul>
                    </div>
            </div>
        </nav>